@import "../../Global.scss";

.no-transition *, .no-transition {
  transition: none !important;
}
.main-header {
  width: 100%;
  background: transparent;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  z-index: 3;
  box-sizing: border-box;
  transition: all 1s ease;
  margin: 0;

  .logo {
    font-size: 2.2vw;
    font-weight: bold;
    color: $mainColor;
    transition: all 2s ease;
    text-decoration: none;
  }

  .search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;

    input {
      padding: 8px 12px;
      font-size: 1vw;
      border: 1.5px solid $mainColor;
      border-radius: 20px;
      width: 20vw;


      &:focus {
        border: 1.5px solid $mainColor !important;
        outline: none;
      }
    }

  }

  .hamburger {
    width: clamp(17px, 2.5vw, 31px);
    height: clamp(15.3px, 2.1vw, 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2000;

    div {
      height: 3px;
      background-color: $mainColor;
      border-radius: 2px;
      transition: all 2s ease;
      transform-origin: left;
    }
  }

  &.active {
    background: $mainColor;

    .logo {
      color: white;
    }

    .hamburger {
      div:first-child {
        transform: rotate(45deg);
        background-color: white;
      }

      div:nth-child(2) {
        opacity: 0;
      }

      div:nth-child(3) {
        transform: rotate(-45deg);
        background-color: white;
      }
    }
  }
}